main {
  display: flex;
  flex-direction: column;

  transition: padding 3s ease;

  .room__gallery {
    height: 485px;
    display: flex;

    .room__gallery-left {
      width: 68.125%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .room__gallery-right {
      width: 31.875%;

      background: black;

      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        height: 50%;
      }
    }
  }

  .room__details {
    display: grid;
    align-self: center;

    margin: 70px 0;

    .room__brief {
      grid-area: a;
    }

    .room__experience {
      grid-area: b;

      .room__text {
        margin-bottom: 15px;
      }
    }

    .room__feedbacks {
      margin-top: 2px;
      grid-area: d;
    }

    .info__rules {
      grid-area: e;
    }

    .info__cancel {
      max-width: 341px;
      grid-area: f;

      .info__text {
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
      }
    }
  }

  .room__booking {
    grid-area: c;
  }

  .room__text {
    margin-bottom: 20px;

    font-family: 'MontserratBold';
    font-size: 19px;
    line-height: 25px;
    color: #1F2041;
  }

  .room__text-right {
    position: relative;
    top: 8px;
    left: 2px;
    float: right;

    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
  }
}

@media (min-width: 320px) {
  .room__details {
    grid-gap: 30px;
    grid-template-areas:
      "a"
      "b"
      "d"
      "e"
      "c"
      "f";

    .room__brief,
    .room__experience,
    .room__feedbacks,
    .info__rules,
    .info__cancel {
      width: 320px;
    }
  }
}

@media (min-width: 861px) {
  .room__details {
    grid-gap: 30px;
    grid-template-areas:
      "a c"
      "b c"
      "d d"
      "f e";

    .room__brief,
    .room__experience,
    .room__feedbacks,
    .info__rules,
    .info__cancel {
      width: initial;
    }

    .room__feedbacks {
      width: 712px;
    }

    .info__rules {
      .room__text {
        margin: 2px 0 18px 20px;
      }
    }

    .info__cancel {
      .room__text {
        margin: 1px 0 18px 0;
      }
    }
  }
}

@media (min-width: 1250px) {
  .room__details {
    grid-gap: 30px 70px;
    grid-template-areas:
      "a b c"
      "d d c"
      "e f c";
  }
}