mixin pagination(addClass)
  div(class="pagination " + addClass)
    a(href="#").pagination_button.pagination_button-active 1
    a(href="#").pagination_button 2
    a(href="#").pagination_button 3
    span.pagination_button ...
    a(href="#").pagination_button 15
    a(href="#").pagination_button.next-button

//- +pagination