.pagination_button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;

  width: 40px;
  height: 40px;

  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
}
.pagination_button-active {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  
  font-weight: bold;
  color: #FFFFFF;
}
.next-button {
  vertical-align: middle;

  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;

  &::after {
    content: url(./components/pagination/arrow_forward_white_24dp.svg);
    width: 24px;
    height: 24px;

    display: inline-block;
    position: relative;
    top: 2px;
  }
}