mixin pagination
  .pagination
    button.pagination__button.pagination__button-prev.material-icons(type='button') arrow_back
    button.pagination__button(type='button')
    button.pagination__button(type='button')
    button.pagination__button(type='button')
    button.pagination__button(type='button')
    button.pagination__button(type='button')
    button.pagination__button(type='button')
    button.pagination__button(type='button')
    button.pagination__button.pagination__button-next.material-icons(type='button') arrow_forward
  p.pagination-subtext

//- +pagination