.rich-checkbox-button {
  display: block;

  input {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;

    &:checked {
      border: solid 1px #BC9CFF;

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        margin: 4px 6px 6px;
        height: 6px;
        width: 4px;
        transform: rotate(45deg);
        border-bottom: 2px solid;
        border-right: 2px solid;
        border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) 1;
      }
    }

    &:focus { outline: 0 }
  }

  .rich-checkbox-button__info {
    display: inline-block;

    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);

    margin: 0;

    span {
      display: block;
      margin-bottom: 5px;

      font-weight: bold;
    }
  }

  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(1) {
    .rich-checkbox-button__info {
      width: 220px;
    }
  }

  &:nth-child(2) {
    .rich-checkbox-button__info {
      width: 260px;
    }
  }
}