mixin rich-checkbox-button(name, value, title, description)
  label.rich-checkbox-button
    input.checkbox-button__button(type='checkbox' name=name, value=value)
    p.rich-checkbox-button__info
      span= title
      =description
      
mixin rich-checkbox-buttons
  div(class="rich-checkbox-buttons")
    +rich-checkbox-button("option_1", "wide-corridor", "Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
    +rich-checkbox-button("option_2", "assistant", "Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")