mixin rate-buttons(starsCount)
  - var n = 0;
  .rate-buttons
    while n < starsCount
      span.rate-button-filled
      - n++
    while n < 5
      span.rate-button
      - n++

//- +rate-button('2')