.rate-button
  input.rate-button__star-1(type='checkbox')
  input.rate-button__star-2(type='checkbox')
  input.rate-button__star-3(type='checkbox')
  input.rate-button__star-4(type='checkbox')
  input.rate-button__star-5(type='checkbox')
