.rate-buttons {
  display: flex;

  .rate-button {
    font-size: 24px;

    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .rate-button-filled {
    font-size: 24px;

    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}