mixin rate-buttons(starsCount)
  - var n = 0;
  .rate-buttons
    while n < starsCount
      span.rate-button-filled.material-icons star
      - n++
    while n < 5
      span.rate-button.material-icons star_border
      - n++

//- +rate-buttons('2')