mixin radio-buttons(name, value, text)
  label.radio-button
    input(type='radio' name=name, value=value)
    = text

form.radio-buttons
  +radio-buttons('sex', 'male', 'Мужчина')
  +radio-buttons('sex', 'female', 'Женщина')