mixin radio-buttons(name, value, text, addClass='')
  label(class="radio-button" + addClass)
    input(type='radio' name=name, value=value)
    = text

//- +radio-buttons('sex', 'male', 'Мужчина')
//- +radio-buttons('sex', 'female', 'Женщина')