@import "./../../header/header.scss";
@import "./../../cards/find-room/find-room.scss";
@import "./../../footer/footer.scss";

.landing__content {
  height: 830px;

  position: relative;

  background: url("./pages/landing/landing_background.png") no-repeat;

  .landing__find-room {
    position: relative;
    top: 70px;
    left: 140px;
  }

  .landing__text {
    height: 48px;

    position: absolute;
    bottom: 18px;
    right: 134px;

    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: rgba(31, 32, 65, 0.75);
  }
}

@media (max-width: 1440px) {
  .landing__content {
    background-size: 1534px 1022px;
    background-position: center 70%;
    transition: background-size 0.5s, background-position 0.6s;
  }
}
@media (min-width: 1441px) {
  .landing__content {
    background-size: 1920px 1279px;
    background-position: center 70%;
    transition: background-size 0.5s, background-position 0.6s;
  }
}