main {
  background: url(./landing_background.png) no-repeat center 100% / cover;

  .landing-page {
    height: 830px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    margin: 0 auto;

    transition: all 1s;

    .landing-page__note {
      height: 100%;
      margin: 0 -7px 3px 0;
      display: flex;

      .landing-page__text {
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
      }
    }
  }
}

footer .footer-desktop .footer__main {
  border-top: none;
}

@media (min-width: 320px) {
  .landing-page {
    max-width: 380px;

    padding: 70px 0px 18px;
    margin: 0 auto;

    .landing-page__note {
      height: 100%;

      justify-content: center;
      align-items: flex-end;

      .landing__text {
        text-align: center;
      }
    }
  }
}

@media (min-width: 660px) {
  .landing-page {
    max-width: 1160px;

    padding: 70px 15px 18px;

    .landing-page__note {
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
    }
  }
}

@media (min-width: 1200px) {
  .landing-page {
    padding: 70px 0 18px;
  }
}