.dropdown-rooms {
  .dropdown-rooms__selector {
    width: 266px;
    height: 44px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 2px 2px 0 0;

    .dropdown-rooms__text {
      margin: 0 0 0 14px;

      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
    }

    .dropdown-rooms__button {
      width: 43px;
      height: 100%;

      border: none;
      background: none;
      padding: 0;

      font-size: 24px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.5);

      transition: transform 0.5s;
      transform: rotateX(0deg);
    }
  }

  .dropdown-rooms__menu {
    display: none;
  }
}

.dropdown-rooms-active {
  position: relative;

  .dropdown-rooms__selector {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-bottom: none;

    .dropdown-rooms__button {
      transform: rotateX(180deg);
    }
  }

  .dropdown-rooms__menu {
    width: 266px;
    height: 119px;

    display: block;

    position: absolute;
    top: 43px;

    box-sizing: border-box;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 0 0 2px 2px;
    background: white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    z-index: 10;

    .dropdown-rooms__option {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 0 6px 7px 14px;

      font-size: 12px;
      line-height: 28px;
      font-family: 'MontserratBold';
      text-transform: uppercase;

      &:first-child {
        margin-top: 7px;
      }

      .rooms__menu-buttons {
        width: 90px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        .rooms__menu-button {
          background: none;
          border: none;
          padding: 0;

          width: 30px;
          height: 30px;

          border: 1px solid rgba(31, 32, 65, 0.25);
          box-sizing: border-box;
          border-radius: 22px;

          font-size: 18px;
          line-height: 22px;

          color: rgba(31, 32, 65, 0.5);
        }

        .rooms__minus-inactive {
          opacity: 0.5;
        }
      }
    }
  }
}