mixin dropdown-rooms
  .dropdown-rooms
    .dropdown-rooms__selector
      span.dropdown-rooms__text Выберите комнаты
      button.dropdown-rooms__button
    .dropdown-rooms__menu
      .dropdown-rooms__option
        span спальни
        .rooms__menu-buttons
          button.rooms__menu-button.bedrooms__minus -
          span.rooms__count.bedrooms__count
          button.rooms__menu-button.bedrooms__plus +
      .dropdown-rooms__option
        span кровати
        .rooms__menu-buttons
          button.rooms__menu-button.beds__minus -
          span.rooms__count.beds__count
          button.rooms__menu-button.beds__plus +
      .dropdown-rooms__option
        span ванные комнаты
        .rooms__menu-buttons
          button.rooms__menu-button.bathrooms__minus -
          span.rooms__count.bathrooms__count
          button.rooms__menu-button.bathrooms__plus +

