.dropdown-rooms {
  width: 266px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 2px;
  
  .dropdown-rooms__main {
    .dropdown-rooms__text {
      width: 203px;
  
      display: inline-block;
  
      margin: 0 0 0 14px;
  
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
    }
  
    .dropdown-rooms__button {
      background: none;
      padding: 0;
      border: none;
      cursor: pointer;
  
      width: 43px;
      height: 42px;
  
      vertical-align: middle;
  
      -webkit-mask: url(./components/dropdown-rooms/expand_more_black_24dp.svg) center no-repeat;
      mask: url(./components/dropdown-rooms/expand_more_black_24dp.svg) center no-repeat;
      background: rgba(31, 32, 65, 0.75);
    }
  }

  .dropdown-rooms__menu {
    display: none; 
  }
  
}

.dropdown-rooms-active {
  .dropdown-rooms__main { border-bottom: 1px solid rgba(31, 32, 65, 0.25); }
  .dropdown-rooms__menu {
    display: initial;

    .dropdown-rooms__option {
      margin: 7px 6px 0 14px;

      
      font-size: 12px;
      line-height: 15px;
      font-weight: bold;
      text-transform: uppercase;

      &:last-child {
        margin-bottom: 7px;
      }

      .dropdown-rooms__menu-text {
        width: 150px;
        display: inline-block;

        vertical-align:super;
      }

      .dropdown-rooms__menu-buttons {
        width: 90px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        .dropdown-rooms__menu-button {
          background: none;
          border: none;
          padding: 0;

          width: 30px;
          height: 30px;

          border: 1px solid rgba(31, 32, 65, 0.25);
          box-sizing: border-box;
          border-radius: 22px;

          font-size: 18px;
          line-height: 22px;

          color: rgba(31, 32, 65, 0.5);
        }

        .none-dropdown-rooms__menu-minus { opacity: 0.5; }
      }
    }
  }
}