.dropdown-rooms {
  width: 266px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 2px 2px 0 0;
  
  .dropdown-rooms__selector {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dropdown-rooms__text {
      margin: 0 0 0 14px;
  
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
    }
  
    .dropdown-rooms__button {
      background: none;
      padding: 0;
      border: none;
      cursor: pointer;
  
      width: 44px;
      height: 42px;
  
      vertical-align: middle;
  
      -webkit-mask: url(./components/dropdown-rooms/expand_more_black_24dp.svg) center no-repeat;
      mask: url(./components/dropdown-rooms/expand_more_black_24dp.svg) center no-repeat;
      background: rgba(31, 32, 65, 0.75);
    }
  }

  .dropdown-rooms__menu {
    display: none; 
  }
}

.dropdown-rooms-active {
  .dropdown-rooms__selector { 
    border-bottom: 1px solid rgba(31, 32, 65, 0.25); 
  }
  .dropdown-rooms__menu {
    display: block;

    .dropdown-rooms__option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      margin: 7px 6px 0 14px;
            
      font-size: 12px;
      line-height: 15px;
      font-weight: bold;
      text-transform: uppercase;

      &:last-child {
        margin-bottom: 7px;
      }

      .rooms__menu-buttons {
        width: 90px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        .rooms__menu-button {
          background: none;
          border: none;
          padding: 0;

          width: 30px;
          height: 30px;

          border: 1px solid rgba(31, 32, 65, 0.25);
          box-sizing: border-box;
          border-radius: 22px;

          font-size: 18px;
          line-height: 22px;

          color: rgba(31, 32, 65, 0.5);
        }

        .rooms__minus-inactive { opacity: 0.5; }
      }
    }
  }
}