.sign-in__content {
  height: 683px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url(./sign-in_background.png) no-repeat center 100% / cover;

  transition: all 1s;

  .login__card {
    margin-top: 16px;
    flex: 1;
  }
}

footer .footer-desktop .footer__main {
  border-top: none;
}