mixin like-button(likeCount='0', isActive='no')
  if isActive=="active"
    button.like-button.like-button_active(type="button")
      span.like-button__like
      .like-button__count
        span= likeCount
  else
    button.like-button(type="button")
      span.like-button__like
      .like-button__count
        span= likeCount