mixin like-button(likesCount='0', isActive='')
  if isActive=="active"
    button.like-button.like-button_enable(type="button")
      span.like-button__like
      span.like-button__count= likesCount
  else
    button.like-button(type="button")
      span.like-button__like
      span.like-button__count= likesCount