.like-button {
  height: 20px;
  width: 40px;

  box-sizing: border-box;
  border: 1px solid #1f204140;
  border-radius: 10px;

  background: none;
  padding: 0;

  display: flex;
  align-items: center;

  .like-button__like {
    -webkit-mask: url(./components/like-button/favorite_border_black_18dp.svg) center no-repeat;
    mask: url(./components/like-button/favorite_border_black_18dp.svg) center no-repeat;
    background: rgba(31, 32, 65, 0.25);

    width: 19px;
    height: 18px;

    margin-right: 2px;
  }

  .like-button__count {
    font-size: 10px;
    line-height: 12px;
    color: rgba(31, 32, 65, 0.25);
  }
}

.like-button_enable {
  border-color: rgba(188, 156, 255, 1);
  .like-button__like {
    -webkit-mask: url(./components/like-button/favorite_black_18dp.svg) center no-repeat;
    mask: url(./components/like-button/favorite_black_18dp.svg) center no-repeat;
    background: linear-gradient(to bottom, #bc9cff, #af9fff, #a3a1fe, #97a3fc, #8ba4f9);
    margin-right: 0px;
  }

  .like-button__count {
    color: #BC9CFF;
  }
}
