.search-room {
  padding: 30px 15px 70px;
  margin: 0 auto;

  display: flex;

  .search-room__filters {
    .filters__list {
      .filter__title {
        font-family: 'MontserratBold';
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
      }

      .filter__staying {
        position: relative;
        margin-bottom: 22px;

        .filter__title {
          margin-bottom: 5px;
        }
      }

      .filter__guests {
        margin-bottom: 30px;

        .filter__title {
          margin-bottom: 4px;
        }
      }

      .filter__price {
        height: 72px;

        position: relative;
        margin-bottom: 30px;

        .range-slider {
          position: absolute;
          top: 0px;
        }

        .price__text {
          position: relative;
          top: 42px;

          font-size: 12px;
          line-height: 14px;
          color: rgba(31, 32, 65, 0.5);
        }
      }

      .filter__rules {
        margin-bottom: 32px;

        .filter__title {
          margin-bottom: 16px;
        }
      }

      .filter__availability {
        margin-bottom: 30.88px;

        .filter__title {
          margin-bottom: 16px;
        }
      }

      .filter__amenities {
        margin-bottom: 25px;

        .filter__title {
          margin-bottom: 4px;
        }
      }
    }
  }

  .search-room__content {
    .content__rooms {
      display: grid;
      gap: 20px 12px;

      .room-card {
        place-self: center;
      }
    }

    .pagination__info {
      margin-top: 43px;
      margin-right: 15px;
    }

    .content__title {
      margin-bottom: 22px;

      font-family: 'MontserratBold';
      font-size: 24px;
      line-height: 29px;
      color: #1F2041;
    }
  }
}

@media only screen and (min-width: 320px) {
  .search-room {
    max-width: 290px;
  }

  .search-room__filters {
    display: flex;

    position: absolute;
    top: 208px;
    left: 0;

    background: white;
    z-index: 10;
    border-top: 1px solid rgba(31, 32, 65, 0.25);
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0 20px 20px 0;
    transition: 1s;

    .filters__list {
      width: 266px;

      padding: 20px 8px 20px 20px;
    }

    .filters__button {
      width: 16px;
      align-self: stretch;

      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 0 20px 20px 0;
    }
  }

  .calendar {
    position: absolute;
    top: 70px;
    left: -20px;
  }
}

@media only screen and (min-width: 588px) {
  .search-room {
    max-width: 552px;
  }

  .content__rooms {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (min-width: 868px) {
  .search-room {
    max-width: 834px;
  }

  .content__rooms {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (min-width: 1231px) {
  .search-room {
    max-width: 1160px;

    position: relative;
  }

  .content__rooms {
    grid-template-columns: repeat(3, auto);
  }

  .search-room__filters {
    position: static;

    margin-right: 60px;
    border: none;
    border-radius: 0;

    .filters__list {
      width: 266px;
      padding: 0;
    }

    .filters__button {
      display: none;
    }
  }

  .calendar {
    position: absolute;
    top: 69px;
    left: -26px;
  }
}

@media only screen and (min-width: 1694px) {
  .search-room {
    max-width: 1440px;
  }

  .content__rooms {
    grid-template-columns: repeat(4, auto);
  }
}