@import "./../../header/header.scss";
@import "./../../components/filter-date-dropdown/filter-date-dropdown.scss";
@import "./../../components/dropdown-guests/dropdown-guests.scss";
@import "./../../components/range-slider/range-slider.scss";
@import "./../../components/checkbox-buttons/checkbox-buttons.scss";
@import "./../../components/rich-checkbox-buttons/rich-checkbox-buttons.scss";
@import "./../../components/dropdown-rooms/dropdown-rooms.scss";
@import "./../../components/expandable-checkbox-list/expandable-checkbox-list.scss";
@import "./../../cards/room-card/room-card.scss";
@import "./../../components/pagination/pagination.scss";
@import "../../cards/calendar/calendar.scss";
@import "./../../footer/footer.scss";

.search-room {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  padding: 30px 140px 70px;

  border-bottom: 1px solid rgba(31, 32, 65, 0.25);;

  .search-room__filters {
    margin-right: 60px;

    .filters__button {
      display: none;

      padding: 0;
      background: none;
      border: none;

      font-weight: bold;
      font-size: 14px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1F2041;
    }

    .filters__list {

      .filter__title {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
      }
  
      .filter__staying {
        margin-bottom: 20.44px;

        position: relative;

        .filter__title {
          margin-bottom: 5px;
        }
        .calendar {
          top: 69px;
          right: -26px;
        }
      }
      .filter__guests {
        margin-bottom: 30.44px;
        .filter__title {
          margin-bottom: 4.56px;
        }
      }
      .filter__price {
        height: 72px;
        margin-bottom: 30px;

        position: relative;

        .range-slider {
          position: absolute;
          top: 0px;
        }

        .price__text {
          position: relative;
          top: 45px;

          font-size: 12px;
          line-height: 14px;
          color: rgba(31, 32, 65, 0.5);
        }
      }
      .filter__rules {
        margin-bottom: 30.88px;
        .filter__title {
          margin-bottom: 16.56px;
        }
      }
      .filter__availability {
        margin-bottom: 30.88px;
      }
      .filter__amenities {
        margin-bottom: 30.44px;
      }
      .filter__add-amenities {
  
      }
    }

    
  }

  .search-room__content {
    width: 100%;

    .content__title {
      margin-bottom: 20.5px;

      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #1F2041;
    }

    .content__rooms {
      display: grid;
      grid-template-columns: repeat(4, 270px);
      gap: 20px 12px;
      
      .room-card {
        place-self: center;
      }

      .pagination__info {
        grid-column: 1 / 5;

        margin-top: 20.5px;

        .pagination__text {
          margin-top: 10.56px;

          font-size: 14px;
          line-height: 24px;
          text-align: center;
          color: rgba(31, 32, 65, 0.75);
        }
      }
    }
  }
}


@media (max-width: 1722px) {
  .search-room {
    .search-room__content {
      .content__rooms {
        grid-template-columns: repeat(3, 270px);
        .pagination__info {
          grid-column: 1 / 4;
        }
      }
    }
  }
}

@media (max-width: 1439px) {
  .search-room {
    .search-room__content {
      .content__rooms {
        grid-template-columns: repeat(2, 270px);
        .pagination__info {
          grid-column: 1 / 3;
        }
      }
    }
  }
}

// Изменение под мобильные версии
@media (max-width: 1240px) {
  .search-room {
    padding: 30px 14px 70px;
    transition: all 0.5s;

    .search-room__filters {
      margin-right: 30px;
    }
    .search-room__content {
      .content__rooms {
        grid-template-columns: repeat(3, 270px);
        .pagination__info {
          grid-column: 1 / 4;
        }
      }
    }
  }
}

@media (max-width: 1160px) {
  .search-room {
    .search-room__content {
      .content__rooms {
        grid-template-columns: repeat(2, 270px);
        .pagination__info {
          grid-column: 1 / 3;
        }
      }
    }
  }
}

@media (max-width: 940px) {
  .search-room {
    flex-direction: column;

    .search-room__filters {
      margin: 0;
      align-self: center;

      .filters__button {
        width: 100%;
        display: block;

        &::after {
          content: "";
          width: 24px;
          height: 24px;

          display: inline-block;

          vertical-align: middle;

          -webkit-mask: url(./pages/search-room/expand_more_black_24dp.svg) center no-repeat;
          mask: url(./pages/search-room/expand_more_black_24dp.svg) center no-repeat;
          background: rgba(31, 32, 65, 0.5);
        }
      }
      .filters__list {
        display: none;
        padding: 20px 0;
      }
    }
    .search-room__content {
      .content__title {
        text-align: center;
      }
      .content__rooms {
        grid-template-columns: repeat(3, 1fr);
        .pagination__info {
          grid-column: 1 / 4;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .search-room {
    .search-room__content {
      .content__rooms {
        grid-template-columns: repeat(2, 1fr);
        .pagination__info {
          grid-column: 1 / 3;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .search-room {
    .search-room__content {
      .content__rooms {
        grid-template-columns: repeat(1, 1fr);
        .pagination__info {
          grid-column: 1 / 2;
        }
      }
    }
  }
}