include ./../../header/header.pug
include ./../../components/filter-date-dropdown/filter-date-dropdown.pug
include ./../../components/dropdown-guests/dropdown-guests.pug
include ./../../components/range-slider/range-slider.pug
include ./../../components/checkbox-buttons/checkbox-buttons.pug
include ./../../components/rich-checkbox-buttons/rich-checkbox-buttons.pug
include ./../../components/dropdown-rooms/dropdown-rooms.pug
include ./../../components/expandable-checkbox-list/expandable-checkbox-list.pug
include ./../../components/pagination/pagination.pug
include ./../../cards/room-card/room-card.pug
include ./../../cards/calendar/calendar.pug
include ./../../footer/footer.pug

include ./../template-page/template-page.pug
+header-anonym
main.search-room
  aside.search-room__filters
    .filters__list
      .filter__staying
        .filter__title даты пребывания в отеле
        +filter-date
        +calendar
      .filter__guests
        .filter__title гости
        +dropdown-guests
      .filter__price
        .filter__title диапазон цены 
        +range-slider
        .price__text Стоимость за сутки пребывания в номере
      .filter__rules
        .filter__title правила дома
        .checkbox-buttons
          +checkbox-button("option_1", "smoke", "Можно курить")
          +checkbox-button("option_2", "pets", "Можно с питомцами")
          +checkbox-button("option_3", "party", "Можно пригласить гостей (до 10 человек)")
      .filter__availability
        .filter__title доступность
        +rich-checkbox-buttons
      .filter__amenities
        .filter__title удобства номера
        +dropdown-rooms
      .filter__add-amenities
        +expandable-checkbox__menu
    .filters__button
  .search-room__content
    p.content__title Номера, которые мы для вас подобрали
    .content__rooms 
      +room-card("888", "lux", "9 900", "5", "145", 'room-details.html')
      +room-card("840", "no-lux", "9 900", "4", "65", './page404.html')
      +room-card("980", "lux", "8 500", "3", "35", './page404.html')
      +room-card("856", "no-lux", "7 300", "5", "19", './page404.html')
      +room-card("740", "no-lux", "6 000", "4", "44", './page404.html')
      +room-card("982", "no-lux", "5 800", "3", "56", './page404.html')
      +room-card("678", "no-lux", "5 500", "5", "45", './page404.html')
      +room-card("450", "no-lux", "5 300", "4", "39", './page404.html')
      +room-card("350", "no-lux", "5 000", "3", "77", './page404.html')
      +room-card("666", "no-lux", "5 000", "5", "25", './page404.html')
      +room-card("444", "no-lux", "5 000", "3", "15", './page404.html')
      +room-card("352", "no-lux", "5 000", "3", "55", './page404.html')
    .pagination__info
      +pagination
+footer-desktop