include ./../components/buttons/buttons.pug

mixin header-anonym
  header.header
    include ./header-logo.svg
    nav.header__links
      a.header__about(href="#") О нас
      a.header__services(href="#") Услуги
      a.header__vacancy(href="#") Вакансии
      a.header__news(href="#") Новости
      a.header__agreements(href="#") Соглашения
      +button("button-2", "Войти", "header__login-button",)
      +button("button-1", "Зарегистрироваться", "")
    .header__links-compact
      button.header__icon(type="button")
      nav.header__menu
        a.header__about(href="#") О нас
        a.header__services(href="#") Услуги
        a.header__vacancy(href="#") Вакансии
        a.header__news(href="#") Новости
        a.header__agreements(href="#") Соглашения
        .header__buttons
          +button("button-2", "Войти", "header__login-button",)
          +button("button-1", "Зарегистрироваться", "header__registration-button")


mixin header-user
  header.header
    include ./header-logo.svg
    nav.header__links
      a.header__about(href="#") О нас
      a.header__services(href="#") Услуги
      a.header__vacancy(href="#") Вакансии
      a.header__news(href="#") Новости
      a.header__agreements(href="#") Соглашения
      a.header__user(href="#") Юлий Цезарь
    .header__links-compact
      button.header__icon(type="button")
      nav.header__menu
        a.header__about(href="#") О нас
        a.header__services(href="#") Услуги
        a.header__vacancy(href="#") Вакансии
        a.header__news(href="#") Новости
        a.header__agreements(href="#") Соглашения
        a.header__user(href="#") Юлий Цезарь