@import "./../components/buttons/buttons.scss";

.header {
  height: 70px;

  padding: 0px 15px;
  transition: all 0.5s;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__links-desktop {
    width: 769px;
    height: 34px;
    
    a {
      font-size: 14px;
      line-height: 17px;
      color: rgba(31, 32, 65, 0.5);
      text-decoration: none;
    }

    // anonym 
    .header__login-button { 
      width: 87px;
    }

    //user
    .header__user {
      &::before {
        content: "";
        width: 1px;
        height: 30px;

        display: inline-block;
        vertical-align: middle;

        margin-right: 20px;

        background: rgba(31, 32, 65, 0.1);
      }
    }
  }

  .header__links-mobile {
    position: relative;

    .header__hamburger {
      width: 48px;
      height: 48px;

      vertical-align: middle;

      font-size: 24px;
      line-height: 20px;
      text-decoration: none;
      border: none;

      background: #BC9CFF;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .header__menu {
      width: 320px;

      display: none;
      
      position: absolute;
      right: -15px;
      padding: 20px 0;

      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      z-index: 100;

      a {
        max-width: 50%;
        display: block;

        margin: 20px auto;

        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.5);
        text-decoration: none;
        text-align: center;

        &:first-child {
          margin: 0 auto 10px auto;
        }
      }

      .header__user {
        border-top: 1px solid rgba(31, 32, 65, 0.1)
      }

      .header__buttons {
        width: 100%;
        height: 34px;

        .header__login-button {
          margin-left: 5px;
          float: left;
        }

        .header__registration-button {
          margin-right: 5px;
          float: right;
        }
      }
    }
  }

  .header__logo {
    height: 44px;
  }

  .material-icons {
    width: 24px;
    height: 21px;

    vertical-align: middle;

    font-size: 24px;
    line-height: 20px;

    background: rgba(31, 32, 65, 0.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (min-width: 320px) {
  .header {
    .header__links-desktop {
      display: none;
    }
    .header__links-mobile {
      display: block;
    }
  }
}

@media (min-width: 941px) {
  .header {
    max-width: 1160px;
    margin: 0 auto;

    .header__links-desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header__links-mobile {
      display: none;

      .header__menu {
        display: none;
      }
    }
  }
}