include ./../components/buttons/buttons.pug

mixin header-anonym
  header.header
    .header__wrapper
      a.header__logo(href="./pages/room-details/room-details.pug")
        include ./header-logo.svg
      nav.header__links-desktop
        a.header__about(href="#") О нас
        a.header__services(href="#") Услуги
          span.material-icons expand_more
        a.header__vacancy(href="#") Вакансии
        a.header__news(href="#") Новости
        a.header__agreements(href="#") Соглашения
          span.material-icons expand_more
        +button("bordered", "Войти")
        +button("filled", "Зарегистрироваться")
      nav.header__links-mobile
        button.header__hamburger.material-icons(type="button") menu
        .header__menu
          a.header__about(href="#") О нас
          a.header__services(href="#") Услуги
            span.material-icons expand_more
          a.header__vacancy(href="#") Вакансии
          a.header__news(href="#") Новости
          a.header__agreements(href="#") Соглашения
            span.material-icons expand_more
          .header__buttons
            +button("bordered", "Войти")
            +button("filled", "Зарегистрироваться")


mixin header-user
  header.header
    a.header__logo(href="#")
      include ./header-logo.svg
    nav.header__links-desktop
      a.header__about(href="#") О нас
      a.header__services(href="#") Услуги
        span.material-icons expand_more
      a.header__vacancy(href="#") Вакансии
      a.header__news(href="#") Новости
      a.header__agreements(href="#") Соглашения
        span.material-icons expand_more
      a.header__user(href="#") Юлий Цезарь
    nav.header__links-mobile
      button.header__hamburger.material-icons(type="button") menu
      nav.header__menu
        a.header__about(href="#") О нас
        a.header__services(href="#") Услуги
          span.material-icons expand_more
        a.header__vacancy(href="#") Вакансии
        a.header__news(href="#") Новости
        a.header__agreements(href="#") Соглашения
          span.material-icons expand_more
        a.header__user(href="#") Юлий Цезарь