mixin date-dropdown(addClassForBlock, addClassForText, addClassForButton)
  div(class="date-dropdown " + addClassForBlock)
    span(class="date-dropdown__date " + addClassForText) ДД.ММ.ГГГГ
    button(class="date-dropdown__button " + addClassForButton)

//- +date-dropdown("testClass", "testText", "TestButton")