mixin date-dropdown(addClassBlock='', addClassText='', addClassButton='')
  .date-dropdown(class=addClassBlock)
    span.date-dropdown__date(class=addClassText) ДД.ММ.ГГГГ
    button.date-dropdown__button.material-icons(class=addClassButton, type="button") expand_more

//- +date-dropdown("testClass", "testText", "TestButton")