@import "~flatpickr/dist/flatpickr.css";

.date-dropdown {
  width: 150px;
  height: 44px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  
  .date-dropdown__date {
    background: none;
    border: none;
    padding: 0;

    display: inline-block;
    width: 87px;
    margin: 0 0 0 14px;
  
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);

    &:focus { outline: none; }
    &:hover { cursor: default; }
  }

  .date-dropdown__button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;

    width: 43px;
    height: 42px;

    vertical-align: middle;

    -webkit-mask: url(./components/date-dropdown/expand_more_black_24dp.svg) center no-repeat;
    background: rgba(31, 32, 65, 0.5);
  }
}
