mixin date-dropdown(addClassBlock='', addClassText='', addClassButton='')
  div(class="date-dropdown " + addClassBlock)
    span(class="date-dropdown__date " + addClassText) ДД.ММ.ГГГГ
    button(class="date-dropdown__button " + addClassButton, type="button")

//- +date-dropdown("testClass", "testText", "TestButton")