.button {
  display: inline-block;

  border: none;
  background: none;
  padding: 0;

  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: white;
}

.button-filled {
  width: 99px;
  max-height: 44px;
  height: 100%;

  background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
  border-radius: 22px;

  &:active {
    opacity: 0.5;
  }
}

.button-bordered {
  max-width: 99px;
  max-height: 44px;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: stretch;

  background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
  border-radius: 22px;

  .button-bordered__button {
    flex: 1;
    margin: 2px;

    background: white;
    border-radius: 22px;

    color: #BC9CFF;
  }

  &:active {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
  }
}


.button-text {
  color: #BC9CFF;

  &:active {
    color: rgba(31, 32, 65, 0.5);
  }
}

.button-big {
  width: 320px;
  height: 44px;

  display: flex;
  align-items: center;

  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;

  .button-big__text {
    flex: 1;
    margin-left: 44px;
  }

  .button-big__arrow {
    width: 44px;

    font-size: 24px;
    line-height: 24px;
  }

  &:active {
    opacity: 0.75;
  }
}