mixin button(mode, text='')
  case mode
    when 'filled'
      button(class='button button-' + mode, type='button')= text
    when 'bordered'
      .button-bordered
        button(class='button button-' + mode + '__button', type='button')= text
    when 'text'
      button(class='button button-' + mode, type='button')= text
    when 'big'
      button(class='button button-' + mode, type='button')
        span.button-big__text= text
        span.button-big__arrow.material-icons arrow_forward
    default
      button.button Неправильный мод


//- +button("filled", "Привет") - кнопка заполненная
//- +button("bordered", "Войти") - кнопка с обводкой
//- +button("text", "Привет") - кнопка-текст
//- +button("big", "Привет") - большая кнопка