mixin button(mode, text='', addClass='')
  if mode=='button-4'
    button(class=mode + " " + addClass, type="button")
      span.v4-button__text= text
      span.v4-button__arrow
  else  
    button(class=mode + " " + addClass, type="button")= text


//- +button("button-1", "Привет") - кнопка заполненная
//- +button("button-2", "Войти") - кнопка с обводкой
//- +button("button-4", "Привет") - большая кнопка
//- +button("button-3", "Привет") - кнопка-текст