@import "./../checkbox-buttons/checkbox-buttons.scss";

.expandable-checkbox {
  .expandable-checkbox__menu {
    margin-bottom: 14px;

    .expandable-checkbox__text {
      border: none;
      background: none;
      padding: 0;

      display: inline-block;

      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1F2041;
    }

    .expandable-checkbox__button {
      border: none;
      background: none;
      padding: 0;

      position: relative;
      left: 20px;

      vertical-align: middle;

      font-size: 24px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.5);

      transition: transform 0.5s;
      transform: rotateX(0deg);
    }

    .expandable-checkbox__button-active {
      transform: rotateX(180deg);
    }
  }

  .expandable-checkbox__list {
    display: none;
  }
}