include ./../checkbox-buttons/checkbox-buttons.pug

mixin expandable-checkbox__menu
  div.expandable-checkbox__menu
    button.expandable-checkbox__toggle Дополнительные удобства
      span.expandable-checkbox__toggle-button.material-icons expand_more
    .expandable-checkbox__list
      +checkbox-button("option_1", "breakfast", "Завтрак")
      +checkbox-button("option_1", "table", "Письменный стол")
      +checkbox-button("option_1", "chair", "Стул для кормления")
      +checkbox-button("option_1", "child-bed", "Кроватка")
      +checkbox-button("option_1", "tv", "Телевизор")
      +checkbox-button("option_1", "shampoo", "Шампунь")
      +checkbox-button("option_1", "tv", "Телевизор")
      +checkbox-button("option_1", "shampoo", "Шампунь")