include ./../checkbox-buttons/checkbox-buttons.pug

mixin expandable-checkbox__menu
  .expandable-checkbox
    .expandable-checkbox__menu
      p.expandable-checkbox__text Дополнительные удобства
      button.expandable-checkbox__button.material-icons expand_more
    .expandable-checkbox__list
      +checkbox-button("option_1", "breakfast", "Завтрак")
      +checkbox-button("option_1", "table", "Письменный стол")
      +checkbox-button("option_1", "chair", "Стул для кормления")
      +checkbox-button("option_1", "child-bed", "Кроватка")
      +checkbox-button("option_1", "tv", "Телевизор")
      +checkbox-button("option_1", "shampoo", "Шампунь")
      +checkbox-button("option_1", "tv", "Телевизор")
      +checkbox-button("option_1", "shampoo", "Шампунь")