include ./../../components/text-field/text-field.pug
include ./../../components/radio-buttons/radio-buttons.pug 
include ./../../components/toggle/toggle.pug
include ./../../components/buttons/buttons.pug

.registration
  .registration__card
    form.registration__form
      p.registration__title Регистрация аккаунта
      .registration__name
        +text-field(mode, "text", "Имя", "name", "registration__name-input")
        +text-field(mode, "text", "Фамилия", "surname", "")
      .registration__sex
        +radio-buttons('sex', 'male', 'Мужчина', "")
        +radio-buttons('sex', 'female', 'Женщина', "")
      .registration__birthdate
        p.registration__text.birthdate__text Дата рождения
        +text-field("mask", "text", placeholder, "birthday", "")
      .registration__login-details
        p.registration__text.login-details__text данные для входа в сервис
        +text-field(mode, "text", "Email", "email", "")
        +text-field(mode, "password", "Пароль", "password", "registration__password")
        +toggle("Получать спецпредложения", "registration__special-offers")
      +button("button-4", "перейти к оплате", "submit", "registration__next")
    .registration__login-account
      p.login-account__text Уже есть аккаунт на Toxin
      +button("button-2", "Войти", '', '')
