@import "./../../header/header.scss";
@import "./../../cards/registration-card/registration-card.scss";
@import "./../../footer/footer.scss";

.registration__content {
  height: 683px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("./pages/registration/registration_background.png") no-repeat center 100% / cover;

  transition: all 1s;
  
  .registration-card {
    flex: 1;

    margin-left: 4px;
  }
}

footer .footer-desktop .footer__main {
  border-top: none;
}