include ./../../header/header.pug
include ./../../cards/registration-card/registration-card.pug
include ./../../footer/footer.pug

include ./../template-page/template-page.pug
+header-anonym
main.registration__content
  +registration-card()
+footer-desktop