.subscription {
  width: 267px;
  height: 44px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;

  .subscription__input-email {
    width: 203px;
    height: 100%;

    vertical-align: middle;

    border: none;
    padding: 0;
    margin-left: 15px;
  
    font-size: 14px;
    line-height: 24px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.25);
    }
  }

  .subscription__send-email {
    width: 43px;
    height: 42px;

    vertical-align: middle;
    
    -webkit-mask: url(./components/subscription-text-field/arrow_forward_black_24dp.svg) center no-repeat;
    mask: url(./components/subscription-text-field/arrow_forward_black_24dp.svg) center no-repeat;
    background: linear-gradient(to bottom, #bc9cff, #af9fff, #a3a1fe, #97a3fc, #8ba4f9);

    padding: 0;
    border: none;

    cursor: pointer;
  }
}