mixin subscription
  form.subscription
    input.subscription__input-email(type='email', placeholder='Email', name='subscribe')
    button.subscription__send-email.material-icons(type="button") arrow_forward