@import "./../calendar/calendar.scss";
@import "./../../components/date-dropdown/date-dropdown.scss";
@import "./../../components/dropdown-guests/dropdown-guests.scss";
@import "./../../components/buttons/buttons.scss";

.find-room {
  max-width: 380px;
  height: 374px;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background: white;
    
  .find-room__form {
    max-width: 320px;
    margin: 40px auto 30px auto;
    
    .find-room__title {
      margin-bottom: 22px;

      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #1F2041;
    }
    .find-room__date {
      margin-bottom: 5px;
      .find-room__arrival {
        display: inline-block;
      }
      .find-room__departure {
        display: inline-block;
        margin-left: 15.82px;   
      }
    }
    .find-room__guests {
      margin-top: 22px;
      margin-bottom: 31px;
    }

    .find-room__text {
      margin-bottom: 5px;

      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1F2041;
    }
  }
}

@media (max-width: 320px) {
  .find-room {
    .find-room__form {
      .find-room__date {
        .find-room__departure {
          margin-left: 13.82px;
        }
      }
    }
  }
}

