include ./../calendar/calendar.pug
include ./../../components/date-dropdown/date-dropdown.pug
include ./../../components/dropdown-guests/dropdown-guests.pug
include ./../../components/buttons/buttons.pug

mixin find-room
  .find-room
    .find-room__form
      .find-room__title Найдём номера под ваши пожелания
      .find-room__date
        .find-room__arrival
          p.find-room__text прибытие
          +date-dropdown("find-room__date-dropdown", "calendar__date1-text", "calendar__button-create")
        .find-room__departure
          p.find-room__text выезд
          +date-dropdown("find-room__date-dropdown", "calendar__date2-text", "calendar__button-create")
      +calendar
      .find-room__guests
        p.find-room__text Гости
        +dropdown-guests
      +button("big", "Подобрать номера")

//- +find-room()