.icon-text-list
  .icon-text-list__item
    p.icon-item__text 
      span Комфорт
      | Шумопоглощающие стены
  .icon-text-list__item
    p.icon-item__text 
      span Удобство
      | Окно в каждой из спален