mixin icon-text-list__item(title, text)
  .icon-text-list__item
    p.icon-item__text 
      span= title
      = text

mixin icon-text-list
  div.icon-text-list
    +icon-text-list__item("Комфорт", "Шумопоглощающие стены")
    +icon-text-list__item("Удобство", "Окно в каждой из спален")
    +icon-text-list__item("Уют", "Номер оснащён камином")