mixin icon-text-list__item(title, text)
  .icon-text-list__item
    p.icon-item__text 
      span= title
      = text

mixin icon-text-list(addClass)
  div(class="icon-text-list " + addClass)
    +icon-text-list__item("Комфорт", "Шумопоглощающие стены")
    +icon-text-list__item("Удобство", "Окно в каждой из спален")