.icon-text-list {
  .icon-text-list__item {
    width: 280px;

    padding: 20px 0;

    display: flex;

    border-bottom: 1px solid rgba(31, 32, 65, 0.1);

    .item__div-icon {
      height: 48px;
      width: 48px;

      margin-right: 10px;

      .item__icon {
        font-size: 48px;
        line-height: 48px;

        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .item__div-text {
      display: flex;
      flex-direction: column;

      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);

      .item__text-title {
        font-weight: 700;
      }

      .item__text-text {
        font-weight: 400;
      }
    }

    &:first-child {
      padding: 0 0 20px 0;
    }

    &:last-child {
      padding: 20px 0 0 0;  
      border-bottom: none;
    }
  }  
}