include ./../../components/buttons/buttons.pug

mixin dropdown-guests
  .dropdown-guests
    div.dropdown-guests__selector
      span.dropdown-guests__text Сколько гостей
      button.dropdown-guests__button(type="button")
    div.dropdown-guests__menu
      .dropdown-guests__option
        span взрослые
        .dropdown-guests__menu-buttons
          button.guests-menu__button.adult__minus(type="button") -
          span.guests-menu__count.adult__count
          button.guests-menu__button.adult__plus(type="button") +
      .dropdown-guests__option
          span дети
          .dropdown-guests__menu-buttons
            button.guests-menu__button.children__minus(type="button") -
            span.guests-menu__count.children__count
            button.guests-menu__button.children__plus(type="button") +
      .dropdown-guests__option
        span младенцы
        .dropdown-guests__menu-buttons
          button.guests-menu__button.infants__minus(type="button") -
          span.guests-menu__count.infants__count
          button.guests-menu__button.infants__plus(type="button") +
      .dropdown-guests__submenu
        +button("button-3", "Очистить", "guests__button guests__button-clear guests__button-disable")
        +button("button-3", "Применить", "guests__button guests__button-apply")