.filter-date {
  width: 266px;
  height: 44px;

  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .filter-date__text {
    margin-left: 14px;

    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
  }

  .filter-date__button {
    width: 43px;
    height: 100%;

    border: none;
    background: none;
    padding: 0;

    font-size: 24px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);

    transition: transform 0.5s;
  }
}