.filter-date-dropdown {
  width: 266px;
  height: 44px;

  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .filter-date-dropdown__date {
    margin-left: 14px;

    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);

    &:focus { outline: none; }
    &:hover { cursor: default; }
  }

  .filter-date-dropdown__button {
    height: 44px;
    width: 44px;

    -webkit-mask: url(./components/filter-date-dropdown/expand_more_black_24dp.svg) center no-repeat;
    mask: url(./components/filter-date-dropdown/expand_more_black_24dp.svg) center no-repeat;
    background: rgba(31, 32, 65, 0.5);
  }
}