include ./../../components/buttons/buttons.pug

mixin calendar
  .calendar
    .calendar__month
      button.month__button.month__back.material-icons(type="button") arrow_back
      span.month__selected Ноябрь 2021
      button.month__button.month__next.material-icons(type="button") arrow_forward
    .calendar__picker
      .calendar__picker-weekdays
        span.calendar__weekday Пн
        span.calendar__weekday Вт
        span.calendar__weekday Ср
        span.calendar__weekday Чт
        span.calendar__weekday Пт
        span.calendar__weekday Сб
        span.calendar__weekday Вс
      .calendar__picker-date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
        span.calendar__date
    .calendar__buttons
      +button('text', 'Очистить', 'calendar__button-clear')
      +button('text', 'Применить', 'calendar__button-apply')