mixin list-item(text='')
  .bullet-list__item
    span.list__point
    span.list__text= text

mixin bullet-list
  .bullet-list
    +list-item("Нельзя с питомцами")
    +list-item("Без вечеринок и мероприятий")
    +list-item("Время прибытия — после 13:00, а выезд до 12:00")