
.bullet-list {
  padding: 0px;
  margin: 0px;
}

.bullet-list__item {
  // Последний элемент странный
  // display: flex;
  // align-items: flex-start;

  // width: 100%;
  // height: 100%;

  margin-bottom: 10px;

  .list__point {
    width: 10.43px;
    height: 10px;

    display: inline-block;
    margin-right: 10.43px;

    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
  }

  .list__text {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}