
.bullet-list {
  padding: 0px;
  margin: 0px;
}

.bullet-list__item {
  margin-bottom: 10px;

  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);

  span {
    display: inline-block;
    width: 232px;
  }
  
  &::before {
    content: "";
    width: 10.43px;
    height: 10px;

    vertical-align: top;
    position: relative;
    top: 7px;
    display: inline-block;
    margin-right: 10.43px;
    
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
  }
  &:last-child {
    margin-bottom: 0;
  }
}