.toggle__text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;

  color: rgba(31, 32, 65, 0.75);
}

 .toggle__button {
  appearance: none;

  height: 20px;
  width: 40px;

  border-radius: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);

  position: relative;
  vertical-align: middle;
  margin-right: 10px;
  
  transition: all .2s ease;
  
  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;

    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);

    transition: all .2s cubic-bezier(.5,.1,.75,1.35);
  }
    
  &:checked {
    border-color: #BC9CFF;
    
    &:after {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      transform: translatex(20px);
    }
  }

  &:focus { outline: none; }
}
  
    