doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    title Document
  body
    .wrapper
      header
      main
        div
          include components/text-field/text-field
        div
          include components/dropdown/dropdown.pug
      footer