@import "../node_modules/normalize.css/normalize.css";

// Временное решение
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import "./components/rate-button/rate-button.scss";


body {
  min-width: 320px;
  max-width: 1920px;
  margin: 20px 20px;
}

p {
  margin: 0;
}