@import "../node_modules/normalize.css/normalize.css";
@import "./components/variables.scss";

// Временное решение
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import "./components/text-field/text-field.scss";
@import "./components/dropdown/dropdown.scss";
@import "./components/radio-buttons/radio-buttons.scss";


.wrapper {
  max-width: 1920px;
  min-width: 320px;
  margin: 20px 20px;
}