@import "../node_modules/normalize.css/normalize.css";

// Временное решение
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import "./components/rich-checkbox-buttons/rich-checkbox-buttons.scss";


body {
  max-width: 1920px;
  min-width: 320px;
  margin: 20px 20px;
}