include ./../../components/text-field/text-field.pug
include ./../../components/buttons/buttons.pug

mixin login-card
  .login__card
    .login__form
      p.login__title Войти
      .login__login-details
        +text-field(mode, "email", "Email", "email", "login__email")
        +text-field(mode, "password", "Пароль", "password", "")
      +button("big", "Войти")
    .login__registration-account
      p.registration-account__text Нет аккаунта на Toxin?
      +button("bordered", "Создать")