.checkbox-buttons {
  .checkbox-button {
    display: block;
    
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
    &:nth-child(2) {
      margin-top: 11px;
    }

    p {
      max-width: 192px;
      display: inline-block;

      font-size: 14px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.5);
    }
  }
}

.checkbox-button__button {
  width: 20px;
  height: 20px;
  
  display: inline-block;
  margin-right: 5px;

  appearance: none;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  
  vertical-align: top;

  &:checked {
    border: solid 1px #BC9CFF;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      margin: 4px 6px 6px;
      height: 6px;
      width: 4px;
      transform: rotate(45deg);
      border-bottom: 2px solid;
      border-right: 2px solid;
      border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) 1;
    }
  }

  &:focus { outline: 0 }
}