main {
  height: 422px;
  display: flex;
  justify-content: center;
  align-items: center;

  .page404 {
    font-family: 'MontserratBold';
    // font-style: normal;
    // font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }
}