include ./../../header/header.pug
include ./../../footer/footer.pug

include ./../template-page/template-page.pug
+header-anonym
main
  span.page404 Упс... Видимо эта страница еще не создана :(
+footer-desktop