footer {
  .footer-desktop {
    flex-direction: column;
    align-items: center;

    transition: all 0.5s;

    .footer__main {
      width: 100%;

      border-top: 1px solid rgba(31, 32, 65, 0.25);
      border-bottom: 1px solid rgba(31, 32, 65, 0.25);

      .footer__main-info {
        max-width: 1160px;

        margin: 0 auto;

        .footer__section {
          font-size: 14px;
          line-height: 17px;
          color: rgba(31, 32, 65, 0.5);

          .section__title {
            margin-top: 5px;
            margin-bottom: 21px;

            font-family: 'MontserratBold';
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
          }

          a {
            display: block;

            margin-bottom: 21px;

            color: rgba(31, 32, 65, 0.5);
            text-decoration: none;

            &:last-child {
              margin-bottom: 0;
            }
          }

          .footer__text {
            max-width: 260px;

            margin-bottom: 21px;

            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
          }
        }

        .footer__brief {
          width: 260px;

          grid-area: a;

          .section__title {
            margin-top: 0;
            margin-bottom: 14px;

            line-height: 16px;
          }
        }

        .footer__nav {
          grid-area: b;
        }

        .footer__about {
          grid-area: c;
        }

        .footer__support {
          grid-area: d;
        }

        .footer__subscribe {
          width: 260px;

          grid-area: f;

          .section__title {
            margin-bottom: 17.7px;

            line-height: 16px;
          }
        }
      }
    }

    .footer__bottom {
      width: 100%;
      height: 70px;

      .footer__bottom-info {
        max-width: 1160px;
        height: 100%;

        margin: 0 auto;
        padding: 0 15px;

        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .footer-mobile {
    height: 367px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-top: 1px solid rgba(31, 32, 65, 0.25);

    .footer-bottom__text {
      margin: 20px 0 25px;
    }
  }

  .footer__logo {
    display: inline-block;

    margin-bottom: 15px;
  }

  .footer-bottom__twitter {
    width: 24px;
    height: 24px;

    display: inline-block;

    margin-right: 20px;

    -webkit-mask: url(./twitter.svg) center no-repeat;
    mask: url(./twitter.svg) center no-repeat;
    background: linear-gradient(to bottom, #bc9cff, #af9fff, #a3a1fe, #97a3fc, #8ba4f9);
  }

  .footer-bottom__facebook {
    width: 24px;
    height: 24px;

    display: inline-block;

    margin-right: 20px;

    -webkit-mask: url(./facebook.svg) center no-repeat;
    mask: url(./facebook.svg) center no-repeat;
    background: linear-gradient(to bottom, #bc9cff, #af9fff, #a3a1fe, #97a3fc, #8ba4f9);
  }

  .footer-bottom__instagram {
    width: 24px;
    height: 24px;

    display: inline-block;

    -webkit-mask: url(./instagram.svg) center no-repeat;
    mask: url(./instagram.svg) center no-repeat;
    background: linear-gradient(to bottom, #bc9cff, #af9fff, #a3a1fe, #97a3fc, #8ba4f9);
  }

  .footer-bottom__text {
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
  }
}

@media (min-width: 861px) {
  .footer__main-info {
    padding: 25px 15px;

    display: grid;
    grid-template-areas:
      "d b c"
      "a e f";
    gap: 40px 0;

    .footer__brief,
    .footer__nav,
    .footer__about,
    .footer__support,
    .footer__subscribe {
      width: 260px;
      justify-self: center;

      .section__title,
      .footer__text,
      a {
        text-align: center;
      }
    }
  }
}

@media (min-width: 1231px) {
  .footer__main-info {
    padding: 100px 15px;

    display: grid;
    grid-template-areas:
      "a b c d f";
    justify-content: space-between;
    gap: 0;

    .footer__nav,
    .footer__about,
    .footer__support {
      width: 160px;
      justify-self: center;
    }

    .footer__brief,
    .footer__nav,
    .footer__about,
    .footer__support,
    .footer__subscribe {

      .section__title,
      .footer__text,
      a {
        text-align: left;
      }
    }
  }
}

@media (min-width: 320px) {
  .footer-desktop {
    display: none;
  }

  .footer-mobile {
    display: flex;
  }
}

@media (min-width: 941px) {
  .footer-desktop {
    display: flex;
  }

  .footer-mobile {
    display: none;
  }
}