@import "./../components/subscription-text-field/subscription-text-field.scss";

.footer__logo {
  display: inline-block;

  margin-bottom: 20px;
}

.footer__desktop {
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);

  .footer__main {
    max-width: 1160px;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    padding: 100px 15px 100px;

    .footer__section {
      padding-top: 4px;

      .section__title {
        margin-bottom: 21px;

        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
      }

      a {
        display: block;
  
        margin-bottom: 20px;
  
        color: rgba(31, 32, 65, 0.5);
        text-decoration: none;
      } 
    }
    .footer__text {
      max-width: 260px;
      
      margin-bottom: 20px;
      
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
    }
    
  }
  .footer__line {
    height: 1px;
    
    background: rgba(31, 32, 65, 0.05);
  }
  .footer__bottom {
    max-width: 1160px;
    height: 70px;
    
    margin: 0 auto;
    padding: 0 15px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-bottom__links {
      .footer-bottom__twitter {
        width: 24px;
        height: 24px;
  
        display: inline-block;

        margin-right: 20px;
  
        -webkit-mask: url(./footer/twitter.svg) center no-repeat;
        mask: url(./footer/twitter.svg) center no-repeat;
        background: linear-gradient(to bottom, #bc9cff, #af9fff, #a3a1fe, #97a3fc, #8ba4f9);
      }
      .footer-bottom__facebook {
        width: 24px;
        height: 24px;
  
        display: inline-block;

        margin-right: 20px;
  
        -webkit-mask: url(./footer/facebook.svg) center no-repeat;
        mask: url(./footer/facebook.svg) center no-repeat;
        background: linear-gradient(to bottom, #bc9cff, #af9fff, #a3a1fe, #97a3fc, #8ba4f9);
      }
      .footer-bottom__instagram {
        width: 24px;
        height: 24px;
  
        display: inline-block;
  
        -webkit-mask: url(./footer/instagram.svg) center no-repeat;
        mask: url(./footer/instagram.svg) center no-repeat;
        background: linear-gradient(to bottom, #bc9cff, #af9fff, #a3a1fe, #97a3fc, #8ba4f9);
      }
    }
  }
}

.footer__mobile {
  max-width: 768px;
  height: 367px;

  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  .footer-mobile__card {
    padding-top: 120px;

    .footer-mobile__text {
      margin-bottom: 25px;

      
      font-size: 14px;
      line-height: 17px;
      color: rgba(31, 32, 65, 0.75);
    }
    .footer-mobile__links {
      .footer-mobile__twitter {
        width: 24px;
        height: 24px;
  
        display: inline-block;
  
        margin-right: 20px;
  
        -webkit-mask: url(./footer/twitter.svg) center no-repeat;
        mask: url(./footer/twitter.svg) center no-repeat;
        background: linear-gradient(to bottom, #bc9cff, #af9fff, #a3a1fe, #97a3fc, #8ba4f9);
      }
      .footer-mobile__facebook {
        width: 24px;
        height: 24px;
  
        display: inline-block;
  
        margin-right: 20px;
  
        -webkit-mask: url(./footer/facebook.svg) center no-repeat;
        mask: url(./footer/facebook.svg) center no-repeat;
        background: linear-gradient(to bottom, #bc9cff, #af9fff, #a3a1fe, #97a3fc, #8ba4f9);
      }
      .footer-mobile__instagram {
        width: 24px;
        height: 24px;
  
        display: inline-block;
  
        -webkit-mask: url(./footer/instagram.svg) center no-repeat;
        mask: url(./footer/instagram.svg) center no-repeat;
        background: linear-gradient(to bottom, #bc9cff, #af9fff, #a3a1fe, #97a3fc, #8ba4f9);
      }
    }
  }

  
}