include ./../components/subscription-text-field/subscription-text-field.pug

mixin footer-bottom__links
  .footer-bottom__links
    a.footer-bottom__twitter(href="https://twitter.com")
    a.footer-bottom__facebook(href="https://facebook.com")
    a.footer-bottom__instagram(href="https://instagram.com")

mixin footer-bottom__text
  p.footer-bottom__text Copyright © 2018 Toxin отель. Все права защищены.

mixin footer-desktop
  footer
    .footer-desktop
      .footer__main
        .footer__main-info
          .footer__section.footer__brief
            a.section__title(href="./index.html")
              include ./footer-logo.svg
            p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          .footer__section.footer__nav
            p.section__title навигация
            a(href="./page404.html") О нас
            a(href="./page404.html") Новости
            a(href="./page404.html") Служба поддержки
            a(href="./page404.html") Услуги
          .footer__section.footer__about
            p.section__title о нас
            a(href="./page404.html") О сервисе
            a(href="./page404.html") Наша команда
            a(href="./page404.html") Вакансии
            a(href="./page404.html") Инвесторы
          .footer__section.footer__support
            p.section__title Служба поддержки
            a(href="./page404.html") Соглашения
            a(href="./page404.html") Сообщества
            a(href="./page404.html") Связь с нами
          .footer__section.footer__subscribe
            p.section__title Подписка
            p.footer__text Получайте специальные предложения и новости сервиса
            +subscription
      .footer__bottom 
        .footer__bottom-info
          +footer-bottom__text
          +footer-bottom__links
    .footer-mobile
      .footer-mobile__info
        a.footer-mobile__link-logo(href="./index.html")
            include ./footer-logo.svg
        +footer-bottom__text
        +footer-bottom__links